*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

/**** CLASSES AUXILIARES ****/
.center{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}
/****************************/


h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

header.principal{
    padding: 15px 0;
    background-color: #FE621D;
    text-align: center;
}

header h1{
    color: white;
}

nav ul{
    margin-top: 12px;
}

nav ul li{
    display: inline-block;
    margin: 0 12px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.sobre{
    padding: 80px 40px;
    color: white;
    background-color: #FD5200;
}

.sobre-conteudo{
    width: 45%;
    padding: 0 15px;
}

h2{
    font-size: 35px;
    border-bottom: 1px solid;
    margin-bottom: 12px;
}

p{
    font-size: 18px;
    font-weight: lighter;
}

.sobre-tabela{
    width: 45%;
    padding: 0 15px;
}

.sobre-tabela table{    
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    background-color: #FD5200;
    color: white;
    font-weight: lighter;
}

.sobre-tabela table td, th{
    border: 1px solid white;
    padding-left: 4px;
}

.sobre-tabela img{
    width: 100%;
    margin: auto;
    height: 200px;
    margin-top: 5px;
}

.fatos{
    padding: 30px 0;
}


.fatos-single{
    width: 30%;
    padding: 15px 10px;
    margin-top: 30px;
    text-align: center;
}

.fatos h2{
    color: #FE621D;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.fatos-single h2{
    border-bottom: 0;
    color: #FD5200;
    font-size: 25px;
}

.fatos-single img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #FE621D;
    display: block;
    margin: auto;
}

.fatos-single p{
    max-width: 80%;
    margin: 10px auto;
    color: #FE621D;
    font-weight: normal;
}

.referencias {
    background-color: #d34a0f;
    padding: 15px 2%;
    margin: auto;
    color: white;
}

.referencias h3 {
    font-size: 28px;
}

.referencias article{
    width: 45%;
}

.referencias nav ul li {
    display: block;
    margin: 0;
}

footer {
    padding: 15px 0;
}

footer p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #d34a0f;
}




