*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

/**** CLASSES AUXILIARES ****/
.center{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}
/****************************/

header{
    padding: 15px 0;
    background-color: #FE621D;
    text-align: center;
}

header section h1{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

header ul{
    margin-top: 12px;
}

header ul li{
    display: inline-block;
    margin: 0 12px;
}

header ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header ul li a:hover{
    text-decoration: underline;
}

.sobre{
    padding: 80px 40px;
    background-color: #AF3800;
    color: white;
}

.sobre-conteudo{
    width: 45%;
    padding: 10px;
}

.sobre-tabela{
    width: 45%;
}

.sobre-tabela table{    
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: #FD5200;
    color: white;
}

.sobre-tabela table td, th{
    border: 1px solid white;
    padding: 2px;
}

.sobre-tabela img{
    width: 100%;
    margin: auto;
    height: 200px;
    margin-top: 5px;
}

