*{
    margin: 0;
    padding: 0;
}

/**** CLASSES AUXILIARES ****/
.center{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}
/****************************/

