.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 350px;
  left: 70px;
}

.baloon {
  position: absolute;
  left: 200px;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 220px;
  top: 120px;
  z-index: 4;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 480px;
  top: 250px;
}