body{
    font-size: 16px;
    color: white;
  }
  
  h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    background-color: orange;
    color: white;
  }

  p{
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
  }

  ul{background: paleturquoise;}
  
  li{
    line-height: 30px;
    text-decoration: underline;
    text-align: center;
  }
  
  .fundo{background: black;}